{% extends 'base.html' %}
{% block title %}Seat Assignment{% endblock %}

{% block content %}
<section class="section">
  <div class="container" style="max-width: 800px; margin: auto;">


    <div class="box has-text-centered">

      <h1 class="title">Administrator Login</h1>

      <!-- Seating Chart Placeholder need to implement seating chart matrix-->
      <p class="has-text-left">printing seating chart...</p>

      <!-- Total Sales Placeholder -->
      <p class="has-text-left">Total Sales: $<!--add price implementation --></p>

      <h2 class="subtitle">Reservation List</h2>
      <!--implement reservation list functionality -->
    </div>

  </div>
</section>
{% endblock %}