{% extends 'base.html' %}
{% block title %}Reserve a Seat{% endblock %}

{% block content %}
<section class="section">
  <div class="container" style="max-width: 500px; margin: auto;">
    <h1 class="title">Reserve Your Seat</h1>
    <form method="post" action="{{ url_for('main.reserve') }}">
      <!-- First Name -->
      <div class="field">
        <label class="label" for="first_name">First Name</label>
        <div class="control">
          <input class="input" type="text" id="first_name" name="first_name" placeholder="First Name">
        </div>
      </div>

      <!-- Last Name -->
      <div class="field">
        <label class="label" for="last_name">Last Name</label>
        <div class="control">
          <input class="input" type="text" id="last_name" name="last_name" placeholder="Last Name">
        </div>
      </div>

      <!-- Row Selector -->
      <div class="field">
        <label class="label" for="row">Row</label>
        <div class="control">
          <div class="select">
            <select id="row" name="row">
              <option disabled selected>Choose a row</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Seat Selector -->
      <div class="field">
        <label class="label" for="seat">Seat</label>
        <div class="control">
          <div class="select">
            <select id="seat" name="seat">
              <option disabled selected>Choose a seat</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Submit -->
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Submit Reservation</button>
          <!-- Need post method here for submitting reservation. -->
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}