{% extends 'base.html' %}
{% block title %}Reserve a Seat{% endblock %}

{% block content %}
<section class="section">
  <div class="container" style="max-width: 500px; margin: auto;">

    <!-- Seating Chart -->
    <div class="box">
      <h1 class="title">Reserve Your Seat</h1>
      <h3 class="title">Seating Chart</h3>
      <h4 class="subtitle">X = Reserved Seat : O = Available Seat</h2>
        <div style="text-align: left;">
          {% for row in seating_chart %}
            <div style="margin-bottom: 5px;">
              {% for seat in row %}
                {% if seat %}
                  <span style="margin: 5px; font-size: 20px;">X</span>
                {% else %}
                  <span style="margin: 5px; font-size: 20px;">O</span>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>

      <form method="post" action="{{ url_for('main.reserve') }}">
        <!-- First Name -->
        <div class="field">
          <label class="label" for="first_name">First Name</label>
          <div class="control">
            <input class="input" type="text" id="first_name" name="first_name" placeholder="First Name">
          </div>
        </div>

        <!-- Last Name -->
        <div class="field">
          <label class="label" for="last_name">Last Name</label>
          <div class="control">
            <input class="input" type="text" id="last_name" name="last_name" placeholder="Last Name">
          </div>
        </div>

        <!-- Row Selector -->
        <div class="field">
          <label class="label" for="row">Row</label>
          <div class="control">
            <div class="select">
              <select id="row" name="row" required>
                <option disabled selected value="">Choose a row</option>
                {% for r in range(0, 12) %}
                  <option value="{{ r }}">{{ r + 1 }}</option> 
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <!-- Seat Selector -->
        <div class="field">
          <label class="label" for="seat">Seat</label>
          <div class="control">
            <div class="select">
              <select id="seat" name="seat" required>
                <option disabled selected value="">Choose a seat</option>
                {% for s in range(0, 4) %}
                  <option value="{{ s }}">{{ s + 1 }}</option> 
                {% endfor %}
              </select>
            </div>
          </div>
        </div>


        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">Submit Reservation</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}